* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #333;
    font-family: Arial;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    color: #888;
    border-top: 1px solid #eee;
    margin-top: 16px;
    padding: 16px 0;
}

header {
    margin-top: 16px;
    margin-bottom: 48px;
}

h1 {
    font-size: 64px;
    margin-bottom: 16px;
}

header a:link,
header a:visited {
    color: #888;
    margin-right: 16px;
    text-decoration: none;
    transition: color 0.2s;
}

header a:hover,
header a:active {
    color: #555;
    margin-right: 16px;
    text-decoration: none;

}

.portrait {
    width: 250px;
}

.main-content {
    flex-grow: 1;
}

.main-content p {
    margin: 20px 0;
}

input {
    border: 1px solid #ccc;
    padding: 8px;
    border-radius: 4px;
}

button {
    cursor: pointer;
    border: 1px solid #888;
    background: #888;
    color: white;
    padding: 8px;
    border-radius: 10px;
}

.icons {
    display: flex;
    font-size: 200%;
}

.icons p {
    margin: 0;
}

.icons__weather {
    color: #555;
    margin-right: 15px;
}

.icons__temperature {
    color: rgb(173, 88, 8);
}